@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('https://cdn.rawgit.com/tonsky/FiraCode/1.204/distr/fira_code.css');

#post-list li {
  margin-bottom: 0;
}

#wrapper.home {
  max-width: 650px !important;
}

#wrapper.post {
  max-width: 900px !important;
}

figure {
  margin-bottom: 0.75em;
}

figcaption {
  color: #888;
  font-style: italic;
}

figcaption p {
  margin-bottom: 0;
}

iframe.twitter-tweet {
  margin: 0 auto;
  margin-bottom: 1.5em !important;
}

::selection {
  background: #4aedcd;
}

::-moz-selection {
  background: #4aedcd;
}

a del {
  text-decoration-color: #1abd9d;
}

img {
  transition: all 0.2s ease-in;
  box-shadow: 0px 0px 32px #0000001F;
}

img:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 150px #00000080;
}

img.inline {
  width: auto;
  height: 1.5em;
  margin-bottom: 0.5em;
  vertical-align: middle;

  box-shadow: none;
  background-color: #fff;
}

img.inline:hover {
  transform: scale(10);
  box-shadow: 0px 0px 150px #11111180;
}

body,
h2,
.profile h2,
.description,
.home h2,
.post h1,
.post h2,
.post h2.headline,
.post h2.headline .tags,
#post-list h2,
#post-list a,
#post-list .dates,
h2.month,
#archive-list a,
#archive-list .dates,
#post-list.archive.readmore h3,
#post-list.archive.readmore a,
#post-list.archive.readmore .dates

{
  font-family: "Noto Sans KR", sans-serif !important;
}

code,
#toc,
#TableOfContents a code

{
  font-family: "Fira Code", monospace !important;
}

p a,
nav.main-nav a,
a, #title, #post-list a:hover, #title:hover,
#archive-list li a:hover, #archive-list li:hover .dates,
#post-list.archive.readmore a,
.archive .post-item:hover,
.archive .post-item:hover .post-link,
.page-tags ul li a:hover

{
  color: #1abd9d !important;
}

#post-list a {
  color: inherit !important;
}

nav.main-nav a.cta, #archive-link:hover {
  color: #fff !important;
  background-color: #1abd9d !important;
}

#archive-link, #archive-link:hover {
  box-shadow: 0 0 0  1px #1abd9d !important;
}
